################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OnlineMongoMigration
/MongoMigrationWebApp/obj/Debug/net6.0
/OnlineMongoMigrationProcessor/obj
/MongoMigrationWebApp/obj
/MongoMigrationWebApp/bin
/MongoMigrationWebApp/publish
/OnlineMongoMigrationProcessor/bin
/publish
/.vs/ProjectEvaluation
/.vs/CopilotSnapshots/DC67F705855CCB4DB72FD7F4510F318F
/.vs/CopilotSnapshots/820DCA350058CE49BAA58BAB93050E8A
/.vs/CopilotSnapshots/3D98CACC18F1834FA1E3FA527DD50BDE
/.vs/CopilotSnapshots/AF9D0DEA81228D4F8864DEDA45AAD8DC
