################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OnlineMongoMigration
/MongoMigrationWebApp/obj/Debug/net6.0
/OnlineMongoMigrationProcessor/obj
/MongoMigrationWebApp/obj
/MongoMigrationWebApp/bin
/MongoMigrationWebApp/publish
/OnlineMongoMigrationProcessor/bin
/publish
/.vs/ProjectEvaluation
/.vs/CopilotSnapshots/
/tests/OnlineMongoMigrationProcessor.Tests/bin
/tests/OnlineMongoMigrationProcessor.Tests/obj
*.dll
/MongoMigrationWebApp/appsettings.Development.json
/MongoMigrationWebApp/Properties/PublishProfiles
/SchemaMigration/__pycache__
