@using OnlineMongoMigrationProcessor
@using System.Text.RegularExpressions;

<div class="modal fade show d-block bg-dark bg-opacity-75" id="myModal" aria-modal="true" role="dialog">
    <div class="modal-dialog bg-dark">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Configuration Settings</h4>
                <button type="button" class="btn-close" aria-label="Close" @onclick="@Cancel"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="mongo-url" class="form-label">Mongo Tools Download URL</label>
                    <input type="text" id="mongo-url" class="form-control" @bind="Configuration.MongoToolsDownloadUrl" />
                </div>
                <div class="mb-3">
                    <label for="has-uuid" class="form-label">
                        <input type="checkbox" id="has-uuid" @bind="Configuration.ReadBinary" />
                        Binary format utilized for the _id
                    </label>
                </div>
                <div class="mb-3">
                    <label for="chunk-size" class="form-label">Chunk Size (in MB) for MongoDump</label>
                    <input type="number" id="chunk-size" class="form-control" @bind="Configuration.ChunkSizeInMb" />
                </div>

                <div class="mb-3">
                    <label for="csbatchsize" class="form-label">Mongo Copy Page Size</label>
                    <input type="number" id="csbatchsize" class="form-control" @bind="Configuration.MongoCopyPageSize" />
                </div>

                <div class="mb-3">
                    <label for="csbatchsize" class="form-label">Max Documents per Change Stream Batch</label>
                    <input type="number" id="csbatchsize" class="form-control" @bind="Configuration.ChangeStreamMaxDocsInBatch" />
                </div>

                <div class="mb-3">
                    <label for="csbatchduration" class="form-label">Duration (in minutes) Change Stream Batch</label>
                    <input type="number" id="csbatchduration" class="form-control" @bind="Configuration.ChangeStreamBatchDuration" />
                </div>

                <div class="mb-3">
                    <label for="cs-colls-inbatch" class="form-label">Max Collections per Change Stream Batch</label>
                    <input type="number" id="cs-colls-inbatch" class="form-control" @bind="Configuration.ChangeStreamMaxCollsInBatch" />
                </div>
                <div class="mb-3">
                    <label for="pem-text" class="form-label">CA Certificate file for Source Server(.pem)</label>
                    <InputFile OnChange="OnPemFileUpload" />

                    @if (!string.IsNullOrWhiteSpace(Configuration.CACertContentsForSourceServer))
                    {
                        <button class="btn btn-outline-danger btn-sm mt-2" @onclick="ClearPem">
                            Delete Saved Certificate
                        </button>
                    }
                </div>


                @if (!string.IsNullOrEmpty(errorMessage))
                {
                    <div class="alert alert-danger mt-2">@errorMessage</div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @onclick=@HandleSubmit>Ok</button>
                <button type="button" class="btn btn-secondary" @onclick="@Cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public OnlineMongoMigrationProcessor.MigrationSettings? Configuration { get; set; }

    [Parameter]
    public EventCallback<OnlineMongoMigrationProcessor.MigrationSettings> OnConfigurationSaved { get; set; }

    private string errorMessage = string.Empty;

    private void ClearPem()
    {
        Configuration.CACertContentsForSourceServer = string.Empty;
    }

    private async Task OnPemFileUpload(InputFileChangeEventArgs e)
    {
        var file = e.File;
        using var reader = new StreamReader(file.OpenReadStream(maxAllowedSize: 1024 * 1024));
        Configuration.CACertContentsForSourceServer = await reader.ReadToEndAsync();
    }


    private void HandleSubmit()
    {
        
        if (Configuration.ChangeStreamBatchDuration < 1 || Configuration.ChangeStreamBatchDuration > 60)
        {
            errorMessage = "Batch Duration should be between 1 and 60 minutes.";
            return;
        }
        if (Configuration.ChangeStreamMaxCollsInBatch < 1 || Configuration.ChangeStreamMaxCollsInBatch > 30)
        {
            errorMessage = "Max Collections per Batch should be between 1 and 30.";
            return;
        }
        if (Configuration.MongoCopyPageSize < 50 || Configuration.MongoCopyPageSize > 40000)
        {
            errorMessage = "Page Size should be between 50 and 40000.";
            return;
        }

        if (Configuration.ChangeStreamMaxDocsInBatch < 100 || Configuration.ChangeStreamMaxDocsInBatch > 1000000) // Fixed condition to compare correctly
        {
            errorMessage = "Max Documents per Batch should be between 100 and 1000000."; // Corrected error message
            return;
        }

        if (Configuration.ChunkSizeInMb < 2 || Configuration.ChunkSizeInMb > 5120)
        {
            errorMessage = "Chunk Size (in MB) should be between 2 and 5120.";
            return;
        }

        if (!Regex.Match(Configuration.MongoToolsDownloadUrl, @"^https://.*\.zip$").Success)
        {
            errorMessage = "URL must start with 'https://' and end with '.zip'.";
            return;
        }

        if (OnConfigurationSaved.HasDelegate)
        {
            OnConfigurationSaved.InvokeAsync(Configuration);
        }
    }

    private void Cancel()
    {
        if (OnConfigurationSaved.HasDelegate)
        {
            OnConfigurationSaved.InvokeAsync(null);
        }
    }
}

