.checkbox-container {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.checkbox-group {
    flex: 1; /* Equal width */
    display: flex;
    align-items: center;
}

.checkbox-group label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    cursor: pointer;
}

.tooltip-text {
    text-decoration: underline; /* Add underline to indicate interactivity */
    color: #007bff; /* Optional: Add a blue color similar to a link */
}

.tooltip-text:hover {
    text-decoration: none; /* Remove underline on hover for a clean look */
    color: #0056b3; /* Darker blue on hover for a subtle effect */
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75); /* Adjust opacity if needed */
}

/* Console output table styles */
.table.console-output {
    background-color: black;
    color: white;
    width: 100%;
    border-collapse: collapse;
    font-size: 11px; /* Adjust font size here */
}

.table.message-output {
    background-color: grey;
    color: black;
    width: 100%;
    border-collapse: collapse;
    font-size: 11px; /* Adjust font size here */
}


.table.console-output th,.table.message-output th {
    border: 1px solid gray;
    padding: 8px;
}

.table.console-output td, .table.message-output td {
    border: 0px solid gray;
    padding: 8px;
}

.table.console-output th, .table.message-output th {
    background-color: #333;
}

.table.console-output tr.error-row, .table.message-output tr.error-row {
    color: red;
}

.table.console-output tr.warning-row, .table.message-output tr.error-row {
    color: yellow;
}

.alert .btn-close {
    position: absolute;
    top: 0.25rem; 
    right: 0.25rem; 
}

.btn-close-sm {
    width: 0.75rem;
    height: 0.75rem;
    padding: 0.25rem;
    background-size: 0.75rem;
}

